// = Search Bar
// ============================================================================
// No CSS hacks, variables overrides only

.o_searchview_facet {
    --SearchBar-facet-background: #{$o-black};

    border-radius: 0.85rem;
    box-shadow:
        inset 0 0 0 1px rgba($white, 0.08),
        0 8px 16px -16px rgba($o-black, 0.5);

    .o_searchview_facet_label {
        border-radius: 0.85rem 0 0 0.85rem;
        background: rgba($white, 0.04);
    }

    .o_facet_values {
        background: rgba($white, 0.04);
    }

    .o_facet_remove {
        border-radius: 999px;

        &:hover,
        &:focus-visible {
            background: rgba($white, 0.08);
        }
    }
}
