// Generate background and text for each color.
@mixin o-gantt-hoverable-colors($color) {
    $color-subdle: mix($color, white, 60%);
    $color-hover: mix($color, white, 70%);
    color: color-yiq($color-subdle);
    background-color: $color-subdle;
    cursor: pointer;

    @include o-gantt-hover() {
        background-color: $color-hover;
        color: color-yiq($color-hover);
    }
}

@mixin o-gantt-hoverable-progress-colors($color) {
    $color-subdle: mix($color, white, 90%);
    $color-hover: mix($color, white, 100%);
    color: color-yiq($color-subdle);
    background-color: $color-subdle;
    cursor: pointer;

    @include o-gantt-hover() {
        background-color: $color-hover;
        color: color-yiq($color-hover);
    }
}

.o_cp_bottom {
    .o_cp_bottom_left {
        .o_gantt_button_gantt_scroll_views {
            display: none;
        }
        .o_gantt_button_bird_eye_views {
            display: none;
        }
    }
}
.o_gantt_view {
    // ==== "Group Header" rows (closed) =====
    // =======================================
    .o_gantt_row_group {
        cursor: pointer;

        &, &.open:hover {
            .o_gantt_row_sidebar, .o_gantt_slots_container {
                background-image: linear-gradient(darken($gantt-row-open-bg, 5%), $gantt-row-open-bg);
            }
        }

        &:hover, &.open {
            .o_gantt_row_sidebar, .o_gantt_slots_container {
                background-image: linear-gradient($gantt-row-open-bg, darken($gantt-row-open-bg, 5%));
            }
        }

        .o_gantt_row_sidebar, .o_gantt_row_title, .o_gantt_cell {
            min-height: $gantt-pill-consolidated-height;
            line-height: $gantt-pill-consolidated-height;
        }

        .o_gantt_row_thumbnail_wrapper .o_gantt_row_thumbnail {
            max-width: 17px;
        }

        .o_gantt_cell {
            border-color: mix($gantt-row-open-bg, $gantt-border-color, 30%);

            &.o_gantt_today {
                background-color: mix($gantt-row-open-bg, $gantt-highlight-today-bg);
            }
        }

        .o_gantt_pill {
            border-color: $primary;
        }

        .o_gantt_pill_wrapper.o_gantt_consolidated_wrapper {
            margin-top: 0;
            line-height: $gantt-pill-consolidated-height;

            .o_gantt_consolidated_pill {
                @include o-position-absolute($gantt-pill-consolidated-height * .5 - 1px, 0, auto, 0);
                background-color: $primary;
                height: 2px;

                &:before, &:after {
                    border-top: 4px solid transparent;
                    border-bottom: 5px solid transparent;
                    content: '';
                }

                &:before {
                    @include o-position-absolute($top: -3px, $left: 0);
                    border-left: 5px solid;
                    border-left-color: inherit;
                }

                &:after {
                    @include o-position-absolute($top: -3px, $right: 0);
                    border-right: 5px solid;
                    border-right-color: inherit;
                }
            }
        }

        &.o_gantt_stage_group .o_gantt_cell {
            &, &.o_gantt_today, &.o_gantt_today + .o_gantt_cell {
                background-color: rgb(255, 104, 104) !important;
            }
        }

        &.o_gantt_state_group .o_gantt_cell {
            &, &.o_gantt_today, &.o_gantt_today + .o_gantt_cell {
                background-color: rgb(70, 70, 255) !important;
            }
        }

        // === "Group Header" rows (open) ======
        // =======================================
        &.open .o_gantt_cell {
            &, &.o_gantt_today, &.o_gantt_today + .o_gantt_cell {
                border-color: transparent;
                background-color: transparent;
            }

            .o_gantt_pill_wrapper.o_gantt_consolidated_wrapper .o_gantt_consolidated_pill {
                &:before, &:after {
                    top: 2px;
                    border: 2px solid transparent;
                    border-top-color: inherit;
                }

                &:before {
                    border-left-color: inherit;
                }

                &:after {
                    border-right-color: inherit;
                }
            }
        }
    }

    // === "Group Header" &  "TOTAL" rows ========
    // ===========================================
    .o_gantt_row_group, .o_gantt_total {
        .o_gantt_consolidated_pill_title {
            z-index: 2;
            background-color: white;
            color: $body-color;
            border-radius: 4px;
        }
    }

    .o_gantt_view_year{
        width:1200%;
    }
    .o_gantt_header_scale {
        .week_col {
            margin-left: -0.5rem;
            margin-right: -0.5rem;
        }
    }
    .o_gantt_row_nogroup {
        .o_gantt_pill {
            @include o-gantt-hoverable-colors(nth($o-colors-complete, 1));
            &.o_gantt_progress {
                @include o-gantt-hoverable-colors(nth($o-colors-complete, 1));
                background-repeat: no-repeat;

                &.decoration-info {
                    @include gantt-gradient-decorations(nth($o-colors-complete, 1));
                }
            }

            // used for `color` attribute on <gantt>
            @for $index from 2 through length($o-colors-complete) - 1 {
            // @for $index from 3 through length($o-colors) {
                &.o_gantt_color_#{$index - 1} {
                    $gantt-color: nth($o-colors-complete, $index);

                    @include o-gantt-hoverable-colors($gantt-color);

                    &.o_gantt_progress {
                        @include o-gantt-hoverable-colors($gantt-color);
                    }

                    &.decoration-info {
                        @include gantt-gradient-decorations($gantt-color);
                    }
                }
            }
        }
    }
    .o_gantt_process {
        p {
            background: rgba(0,0,0,0.6);
            width: auto;
            display: inline;
            padding: 4px 10px;
        }
    }
    .odes_gantt_progressbar {
        @include o-gantt-hoverable-progress-colors(nth($o-colors-complete, 1));

        position: absolute;
        top: 0;
        height: 100%;
    
        @for $index from 2 through length($o-colors-complete) - 1 {
            &.o_gantt_color_#{$index - 1} {
                $gantt-color: nth($o-colors-complete, $index);
                @include o-gantt-hoverable-progress-colors($gantt-color);
            }
        }
    }

    .o_gantt_row_container {
        .o_gantt_row {
            border-bottom: 1px solid $gantt-border-color;
            background: #FFFFFF;

            &:first-child {
                > .o_gantt_slots_container, > .o_gantt_row_sidebar {
                    box-shadow: inset 0 4px 5px -3px rgba(black, .1);
                }
            }

            .o_gantt_slots_container .o_gantt_cell.ui-drag-hover {
                background: rgba(0, 160, 157, 0.3) !important;
                .o_gantt_pill {
                    background: rgba(0, 160, 157, 0.3);
                }
            }
        }
    }
}
.header_state_year .o_gantt_row_sidebar {
    max-width: 2%;
}
.rows_state_year .o_gantt_row_nogroup .o_gantt_row_sidebar {
    max-width: 2%;
}
.rows_state_year .o_gantt_row_group .o_gantt_row_sidebar {
    max-width: 2%;
}

// GROUP SCHEME COLOR
.o_gantt_row_group.o_gantt_project_group .o_gantt_row_sidebar  {
    height: 100px;
} 

.o_gantt_row_group.o_gantt_stage_group .o_gantt_row_sidebar  {
    background-image: none !important;
    background-color: rgb(255, 104, 104) !important;
    color: white !important;
    border-right: 0.5px solid #dbd7d7 !important;
} 

.o_gantt_row_group.o_gantt_state_group .o_gantt_row_sidebar  {
    background-image: none !important;
    background-color: rgb(70, 70, 255) !important;
    color: white !important;
    border-right: 0.5px solid #dbd7d7 !important;
} 

