.background_box{
        border: 1px solid black;
	background-color:black;
	padding-left:8px;
	height:23px;
	padding-top:2px;
	color:white;
}
.text_field{
	padding-left:12px;
	padding-top:5px;
	height:30px;
}
.grey_text_field_left{
	background-color:#C0C0C0;
	border:1px solid black;
	border-left:hidden;
	padding-bottom:6px;
	height:46px;
}
.grey_text_field_right{
	text-align:center;
	border-right:hidden;
	padding-top:8px;
	height:46px;
}
.amount_border{
	text-align:left;
	border-top: 1px solid black;
	border-bottom:1px solid black;
	height:46px;
	padding-bottom:6px;
	padding-left:12px;
}
.one_line_gray{
	padding-top:12px;
}
.text_line_left{
	border:1px solid black;
	border-left:hidden;
	height:23px;
}
.text_line_right{
    	border:1px solid black;
	border-right:hidden;
	height:23px;
}
.hide_border_top{
	border-top:hidden;
}
.hide_border_bottom{
	border-bottom:hidden;
}
.hide_border_left{
	border-left:hidden;
}
.hide_border_right{
	border-right:hidden;
}
.hide_border_bottom_grey{
	background-color:#C0C0C0;
}
.text_padding_top{
	padding-top:14px;
}
.padding_top{
	padding-top:6px;
}
.raw_height{
	padding-top:6px;
	height:23px;
}
