.o_burger_menu .o_burger_menu_content.o_burger_menu_dark {
    background-color: #1366B7;
}

.o_burger_menu .o_burger_menu_topbar {
    flex: 0 0 46px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: #1366B7;
    color: white;
}